<h1 class="c-title__large u-mb15">Listing All Categories</h1>
<ul class="row">
  <% @categories.each do |category| %>
    <div class="col-sm-4 u-mb10">
      <div class="well text-center">
        <%= link_to "#{category.name}", category_path(category) %><br>
        <small class="small"><%= pluralize(category.articles.count, "articles") %></small>
      </div>
    </div>
  <% end %>  
</ul>
<%= will_paginate %>